*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.5) 40%, rgb(0, 255, 25, 0.5 )), url(tech.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.nav{
    width: 95%;
    height: 75px;
    margin: auto;
}
.icon{
    width: 300px;
    float: left;
    height: 70px
}
.logo_name{
    padding-left: 15px;
    padding-top: 15px;
    float: left;
}

img{
    width: 150px;
}

.name1{
    color: White
}
.name2{
    color: cyan;
}
.menu{
    width: 500px;
    height: 70px;
    float: left;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
ul li{
    margin-left: 70px;
    list-style: none;
    font-size: 16px;
}
ul li a{
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: 0.4s ease-in-out;
} 

ul li a:hover{
    color: rgb(245, 169, 7);

}